* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #e5e5e5;
}
.header {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #0050b3;
}

.header-block {
  max-width: 1200px;
  margin: auto;
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  font-size: 14px;
  line-height: 22px;
  padding: 5px 30px 5px 12px;
  width: 100%;
  width: 336px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-panel {
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.navigation-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-left: 12px;
}

.navigation-link:before {
  content: "";
  width: 1px;
  height: 16px;
  background-color: #003a8c;
  margin-right: 12px;
}

.navigation-link:last-child:after {
  content: "";
  width: 1px;
  height: 16px;
  background-color: #003a8c;
  margin-right: 12px;
  margin-left: 12px;
}

.user {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

.user-name {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.icons-panel {
  display: flex;
  align-items: center;
}

.icon-link {
  display: flex;
  align-items: center;
  margin-left: 17px;
  position: relative;
}
.notification {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #f5222d;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 16px;
  color: #ffffff;
  font-weight: normal;
  font-size: 12px;
  top: -8px;
  right: -10px;
}

.header-icon {
  fill: #002766;
}

.header-icon:hover {
  fill: white;
}

.icon-link:last-child:before {
  content: "";
  width: 1px;
  height: 16px;
  background-color: #003a8c;
  margin-right: 12px;
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.menu-sidebar {
  margin-top: 18px;
  max-width: 192px;
  margin-right: 12px;
}
.menu-sidebar .user {
  padding-left: 10px;
}
.menu-sidebar .user-avatar {
  width: 24px;
  height: 24px;
}
.menu-sidebar .user-name {
  color: #262626;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
.nav-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 24px;
}
.nav-link {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  text-decoration: none;
  color: #595959;
  line-height: 22px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
.nav-link.active {
  background: #ffffff;
  color: #262626;
}
.nav-text {
  margin-left: 8px;
}
.nav-title {
  padding-left: 10px;
  color: #262626;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 0;
}
.main-feed {
  margin-top: 18px;
  max-width: 588px;
  flex-grow: 1;
}
.create-post {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}
.create-post-header {
  padding: 9px 16px;
  background: #f5f5f5;
}
.create-post-title {
  color: #595959;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}
.create-post-body {
  padding-top: 16px;
  border-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  display: flex;
  align-items: flex-start;
}
.create-post-body .user-avatar {
  margin-left: 16px;
}
.create-post-input {
  width: 100%;
  padding-top: 8px;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
}
.create-post-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 16px 16px 16px;
}
.create-post-footer:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #e8e8e8;
  margin-bottom: 16px;
}
.tag {
  background: #f5f5f5;
  border-radius: 48px;
  border: none;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.tag-icon {
  margin-right: 8px;
}
.post {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px;
}
.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.post-header-button {
  background-color: #fff;
  border: none;
}
.post-header .user-avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}
.post-info {
  display: flex;
  flex-wrap: wrap;
}
.post-author {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  width: 100%;
  text-decoration: none;
}
.post-time {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}
.post-time:after {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  background: #bfbfbf;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
  vertical-align: middle;
}
.post-info-time {
  display: flex;
  align-items: center;
}
.post-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-bottom: 16px;
}
.post-text a {
  color: #096dd9;
  text-decoration: none;
}
.post-image {
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  max-width: 100%;
}
.likes {
  margin-top: 9px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
}
.likes-counter {
  color: #595959;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-left: 4px;
}
.post-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.post-button {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
}
.post-button-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 8px;
}
.post-button-icon {
  fill: #595959;
}
.post-footer:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #e8e8e8;
  margin-bottom: 16px;
}
